:root {
    --primary: #46a6ff;
    --warning: #ff9f15;
}

body {
    font-size: 18px;
    font-family: Montserrat;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
    
.flow-text {
    position: relative;
    white-space: nowrap;
    font-size: 1.5rem;
    animation: flowLeft 2s linear infinite;
}

.icon-control {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-control img {
    width: 56x; /* Adjust size as needed */
    height: 56px;
    /* border-radius: 50%;  */
  }

#ticker-container {
    width: 100%;
    max-width: 100%;
    height: 40px;
    /* border: 2px solid #333; */
    background: #fff;
    overflow: hidden;
    position: relative;
  }

  #ticker {
    position: absolute;
    white-space: nowrap;
    left: 100%;
  }
  
@keyframes scroll-left {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}  

@keyframes flowLeft {
    0%   { transform: translateX(100%); }
    50% { transform: translate(0, 0); }
    -100% { transform: translateX(-100%); }
}

/* Change -100% and 100% to reverse direction (right to left, etc.) */